<span (click)="addNewPacijent()" class="btn btn-primary btn-xs"><i class="fa fa-plus-circle"></i>&nbsp; Dodaj pacijenta </span>
<hr>
<div class="table-responsive-vertical shadow-z-1">
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Datum rođenja</th>
          <th>Adresa</th>
          <th>Telefon</th>
          <th>Uređivanje</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pacijent of pacijenti">
              <td data-title="Ime">{{pacijent.Ime}}</td>
              <td data-title="Prezime">{{pacijent.Prezime}}</td>
              <td data-title="Datum rođenja">{{pacijent.DatumRodenja | date:'dd.MM.yyyy.'}}</td>
              <td data-title="Adresa">{{pacijent.Adresa}}</td>
              <td data-title="Telefon">{{pacijent.Telefon}}</td>
              <td><span><i class="fa fas fa-edit hoverHand" (click)="editPacijent(pacijent.PacijentID)"></i></span></td>
            </tr>
      </tbody>
      </table>
    </div>
